_site/
_data/
.sass-cache/
.jekyll-metadata
.jekyll-cache/
node_modules
www/static/css
www/static/js
lcfinder/static/css
lcfinder/static/js
lcui/static/css/horiz-split-box.css
lcui/static/css/syntax.css
lcui/static/css/main.css
blog/static/css/
blog/static/js/