defaults:
  -
    scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "blog_post"
      author: "Liu Chao"

sass:
  style: :compressed
gems: 
  - jekyll-paginate
  - jekyll-last-modified-at
permalink: /blog/posts/:categories/:title.html
paginate: 8
paginate_path: "blog/page/:num"
exclude: [".git",".sass-cache", "sass", "*.scss", "*.rb", "node_modules",
          "src", "webpack.config.js", "package.json"]
encoding: "utf-8"
highlighter: pygments
markdown: redcarpet
redcarpet:
  extensions:
    - hard_wrap
    - no_intra_emphasis
    - autolink
    - strikethrough
    - fenced_code_blocks