<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand mb-0 h1" href="https://lc-soft.io">LC's Software</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://lc-soft.io">主页</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://blog.lc-soft.io">博客 <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
