<h3 class="text-center mt-5 mb-4">常见问题</h3>
<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading1">
      <button class="accordion-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
        搞这些有什么意义？
      </button>
    </div>
    <div id="collapse1" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="accordion-body">
        在看到这激励计划时你可能会有疑问：有能力解决这些问题的开发者哪会浪费时间去搞这个？把时间用在睡觉、健身、学习、娱乐、陪家人、赚加班费等事情上不香吗？的确，有很多有意义有价值的事情需要我们去做，而对于有兴趣参与开源项目并分享自己技术的人而言，参与激励计划也是一件有意义的事情。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading5">
      <button class="accordion-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
        适合哪些人群？
      </button>
    </div>
    <div id="collapse5" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="accordion-body">
        <ul>
          <li>因刷腻了算法题而想找点有技术含量、有挑战性且现实项目中存在的问题来解决的<strong>算法爱好者</strong>。</li>
          <li>想通过参与项目来锻炼编程能力顺便赚点零花钱的<strong>学生</strong>。积累的项目经历对他们完成课设或毕设也有帮助。</li>
          <li>想参与或开发一个有亮点、有技术含量的项目来提升自己的开源影响力和就业竞争力的<strong>初中级开发者</strong>。如果你觉得只会熟练背诵面试题然后在简历和面试中吹牛还不足以体现出个人优势，那么“参与或开发开源项目”算是比较好的加分项。</li>
          <li>想将自己积累的技术通过开源项目与他人分享的<strong>资深开发者</strong>。</li>
          <li>想参与开源项目并与他人进行技术交流的<strong>编程爱好者</strong>。</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading2">
      <button class="accordion-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
        参与激励计划的流程是什么？
      </button>
    </div>
    <div id="collapse2" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="accordion-body">
        <p>流程如下：</p>
        <ol>
          <li><b>挑选任务：</b>在上方的任务列表或文档中的待办事项列表中挑选你感兴趣的任务。</li>
          <li><b>确认任务有效：</b>在 LCUI 的 <a href="https://github.com/lc-soft/LCUI" target="_blank">GitHub 代码库主页</a>里搜索相关的 issue 和 Pull Request，检查该任务是否被他人认领。</li>
          <li><b>发起需求讨论：</b>在 LCUI 的 <a href="https://github.com/lc-soft/LCUI/discussions" target="_blank">GitHub Discussions</a> 里<a href="https://github.com/lc-soft/LCUI/discussions/new" target="_blank">新建讨论帖</a>，表明你想认领的任务和想要了解的内容，通过与我们交流让需求更明确。</li>
          <li><b>确定正式的开发任务：</b>在需求讨论明确后，我们会整理全部需求然后作为新的 issue 提交。</li>
          <li><b>制定开发计划：</b>对开发内容进行拆分、估时和排期，让我们能够知道每个时间段的开发进度。</li>
          <li><b>开始开发：</b>在 LCUI 的 GitHub 代码库主页 Fork 一份副本到你的名下，然后克隆代码库到本地，在新的分支中展开你的工作。</li>
          <li><b>提交验收请求：</b>工作完成后在 GitHub 上向 LCUI 提交拉取请求（Pull Request），等待我们审查。</li>
          <li><b>解决验收问题：</b>审查期间我们可能会提交一些审查意见，你需要针对这些意见做相应的改动。</li>
          <li><b>验收完毕：</b>审查完后我们会接受你的拉取请求，从你的分支拉取你所做的改动并合入主干分支。</li>
          <li><b>接收赏金：</b>你将会通过悬赏平台或转账的形式收到赏金。</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading3">
      <button class="accordion-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
        为什么有的悬赏任务会带有”项目“标签？
      </button>
    </div>
    <div id="collapse3" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="accordion-body">
        这意味着贡献者可以将用于完成该悬赏任务的代码作为他的个人开源项目来维护，在以解决 LCUI 新版本中的功能需求为前提下，我们可以支持他们打造一个靠谱的开源项目，以此实现双赢。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading4">
      <button class="accordion-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
        已经有很多现成的开源库可用了，为什么还要重复造轮子？
      </button>
    </div>
    <div id="collapse4" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="accordion-body">
        <p>主要理由如下：</p>
        <ul>
          <li>给其他开发者一个打造或推广开源项目的机会。</li>
          <li>寻找合适的解决方案。因悬赏任务而开发的项目，会优先考虑我们的需求并给出合适的解决方案，能让我们快速上手并将之应用到 LCUI 中。</li>
          <li>促进技术交流和合作。都是国人开发的开源项目，交流和合作比较方便一些，而且由于项目的依赖关系，还有机会为对方的项目反馈问题和建议以及贡献代码。</li>
          <li>合理利用现有资源，节约成本。在用其他开源项目前，我们需要花大量时间找文档学习，然后再花时间和经历来解决自己遇到的问题，如果用的项目是国人开发的且他有空给你提供技术支持，那就简单多了。</li>
          <li>让更多的人参与进来。开源的意义在于大家都可以参与推动项目的发展，而让大家参与的前提是他们知道这个项目是什么、打算做什么以及他们能提供哪些帮助，如果所有工作都让我们自己独自承当的话，那这个项目就会一直停留在自娱自乐的水平。</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading6">
      <button class="accordion-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
        赏金太少了！
      </button>
    </div>
    <div id="collapse6" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="accordion-body">
        <p>相信你会习惯性的将悬赏任务当成正式工作然后按照自己当前的薪资来评估它的成本，但受限于经济条件，我们提供的赏金非常有限，现阶段你只能将它当成是刷题网站上的一些带有小额现金奖励的高难算法题。不过也有很多解决办法，例如：</p>
        <ul>
          <li>利用你的影响力、人脉或写作能力来推广此项目，知道的人多了自然就会有人愿意给感兴趣的悬赏任务增加赏金。</li>
          <li>使用合法手段让作者实现财富自由，这样就能大幅提升赏金数额。</li>
        </ul>
      </div>
    </div>
  </div>
</div>
