.summer2021 {
  font-size: 16px;
  line-height: 1.6;
  padding: 3rem 0;

  .btn {
    display: inline-flex;
    align-items: center;

    &.btn-primary svg {
      fill: #fff;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.summer2021-img {
  width: 100%
}

.summer2021-task-title {
  font-size: 16px;
}

.methor-card {
  background: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $border-color;
}

.methor-card-avatar {
  text-align: center;
  margin-bottom: 1rem;

  img {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
  }
}

.methor-card-name {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.methor-card-info {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $border-color;
  font-size: small;
}

.methor-card-info-label {
  width: 4rem;
  text-align: right;
  display: inline-block;
  font-weight: bold;
}
