$BrandColor:#7cb75e;

.navbar-custom {
	background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border .3s ease-in-out;

	.nav>li>a, .nav .open>a {
	    color: #333;
		&:active, &:hover, &:focus {
		    color: #6ba84b;
	        background-color: #fafafa;
		}
	}
	.navbar-brand {
		color: #6ba84b;
		font-size: 24px;
		font-weight: bold;
	}
	.icon-bar {
	    background-color: #333;
	}
	.navbar-toggle {
		&:focus, &:hover {
		    background-color: #f9f9f9;
		    border-color: #f9f9f9;
		}
	}
}
.navbar-on-top {
	color: #fff;
	box-shadow: none;
	background-color: rgba(0,0,0,0.1);
	.navbar-nav >li >a {
	    color: #E5FFD8;
	}
	@media (max-width: 768px) {
		.dropdown-menu>li>a {
			color: rgba(255,255,255,0.8);
		    background-color: transparent;
			&:active, &:hover, &:focus {
			    color: #fff;
			}
			&:hover {
		    	background-color: rgba(0,0,0,0.1);
			}
			&:active, &:focus {
		    	background-color: rgba(0,0,0,0.2);
			}
		}
	}
	.nav>li>a, .nav .open>a {
		color: rgba(255,255,255,0.8);
	    background-color: transparent;
		&:active, &:hover, &:focus {
		    color: #fff;
		}
		&:hover {
		    	background-color: rgba(0,0,0,0.1);
		}
		&:active, &:focus {
		    	background-color: rgba(0,0,0,0.2);
		}
	}
	.navbar-brand {
		color: #fff;
	}
	.icon-bar {
	    background-color: #fff;
	}
	.navbar-toggle {
		&:focus, &:hover {
		    background-color: rgba(138,197,107,0.3);
		    border-color: #4e7b37;
		}
	}
}
.home-jumbotron {
    color: #fff;
	background-color: #282e28;
	background-image: url("/static/images/pattern.png");
	padding-top: 128px;
	margin-bottom: 0;
    .logo {
	    width: 182px;
	    height: 182px;
	    margin: 10px auto;
	    background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-image: url('/static/images/lcui-logo-lg.png');
        font-weight: normal;
    }
    h1, h2 {
    	color: #fff;
    	text-shadow: 4px 3px 0px #2b3b2b, 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
	.jumbotron-button-group {
		margin-top: 60px;
	}
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
	border-radius: 2px;
    border-color: #fff;
	&:focus, &:hover {
		color: #333;
	    text-shadow: none;
	    background-color: #fff;
	    border-color: #fff;
    }
}
.shameless-self-promotion {
    margin-top: 22px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    a {
        color: #fff;
		opacity: 0.8;
    }
}

.project-features {
	.project-feature {
		.project-feature-icon {
			color: $BrandColor;
		}
	}
}
.project-contribute {
	background-color: #f6f9fc;
	.card-container {
    	display: flex;
	    flex-wrap: wrap;
    	padding: 0 5px;
	}
	.card {
		margin: 15px;
		padding: 40px 40px 40px 120px;
		background-color: #fff;
		border-radius: 4px;
    	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
	    transition-property: color,background-color,box-shadow,transform,-webkit-transform;
	    transition-duration: .15s;
        position: relative;
	    flex-direction: column;
	    justify-content: center;
	    overflow: hidden;
        display: inline-flex;
        flex: 1;
        .icon {
		    top: 50%;
		    left: -20px;
            display: block;
		    font-size: 96px;
		    margin-top: -48px;
		    position: absolute;
        }
	}
	.card-star {
		.icon, h3 {
			color: #3297d3;
		}
	}
	.card-watch {
		.icon, h3 {
			color: #24b47e;
		}
	}
	.card-donate {
		.icon, h3 {
			color: #e25950;
		}
	}
	.card-bug {
		.icon, h3 {
			color: #e39f48;
		}
	}
	.card-document {
		.icon, h3 {
			color: #b76ac4;
		}
	}
	.card-code {
		.icon, h3 {
			color: #6772e5;
		}
	}
	.card:hover {
		.icon, h3 {
			color: #32325d;
		}
	    transform: translateY(-2px);
	    box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
	}
}
.project-faq-list {
	.project-faq {
		.icon-question {
		    color: $BrandColor;
		    border: 2px solid $BrandColor;
		    border-radius: 50%;
		    width: 28px;
		    height: 28px;
		    display: inline-block;
		    text-align: center;
			&:after {
				content: '?';
			}
		}
	}
}
.proejct-features, .project-contribute, .project-faq-list, .project-screenshorts {
	border-top: 1px solid #eee;
    padding: 20px 0 40px 0;
}
.thumbnail-empty {
	text-align: center;
	padding: 40px 0;
}
.has-fixed-top-navbar {
    margin-top: 80px;
}
#footer {
    padding: 12px 0;
	border-top: 1px solid #ddd;
	margin-top: 40px;
    line-height: 16px;
    font-size: 12px;
	background-color: #fafafa;
}
.project-feature-nav {
	.project-feature-nav-item {
		margin: 3px;
		position: relative;
	}
	.project-feature-nav-item:focus {
		outline: 0;
	}
	.project-feature-nav-item img {
		width: 100%;
		height: auto;
		border: 1px solid #eee;
	}
	.project-feature-nav-item-cover {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		transition: opacity 1s;
		background-color: rgba(255,255,255,0.85);
	}
	.project-feature-nav-item.slick-current {
		.project-feature-nav-item-cover {
			opacity: 0;
		    transition: none;
		}
	}
}
.project-feature-group .project-feature:focus {
	outline: 0;
}

.project-feature-group .project-feature {
	padding: 32px 0 62px 0;
}


@media screen and (max-width: 992px) {

.project-contribute {
	.card-container {
		display: block;
		.card {
			display: block;
		}
	}
}

}

@media screen and (min-width: 768px) {

.project-feature-group .project-feature {
	padding-left: 96px;
	padding-right: 96px;
}

}

@media screen and (min-width: 992px) {

.project-feature-group .project-feature {
	padding-left: 128px;
	padding-right: 128px;
}

}

@media screen and (min-width: 1200px) {

.project-feature-group .project-feature {
	padding-left: 192px;
	padding-right: 192px;
}

}

.project-feature-group .project-feature {
	-webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
	user-select: auto;
}

.project-feature-nav .slick-prev:before,
.project-feature-nav .slick-next:before {
	;
}

.project-feature-nav {
	.slick-prev, .slick-prev:focus,
	.slick-next, .slick-next:focus {
	    height: 80px;
	    color: #000;
	    width: 30px;
	    z-index: 1;
	    background: rgba(0,0,0,0.3);
	}
	.slick-prev:before {
    	font-size: 32px;
    	content: "\f104";
    	font-family: inherit;
	}
	.slick-next:before {
    	font-size: 32px;
    	content: "\f105";
    	font-family: inherit;
	}
}
.project-feature-nav .slick-prev:hover,
.project-feature-nav .slick-next:hover {
    background: rgba(0,0,0,0.5);
}
.project-feature-nav .slick-prev {
    left: 0;
}
.project-feature-nav .slick-next {
    right: 0;
}
.section-header {
    margin: 32px 0;
    text-align: center;
}
#features .section-header {
	margin-top: 0;
}