$BrandColor:#7cb75e;
.navbar-custom {
	background-color: #fff;
    border-bottom: 1px solid #eee;
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border .3s ease-in-out;

	.nav>li>a, .nav .open>a {
	    color: #333;
		&:active, &:hover, &:focus {
		    color: #6ba84b;
	        background-color: #fafafa;
		}
	}
	.navbar-brand {
		color: #6ba84b;
		font-size: 24px;
		font-weight: bold;
	}
	.icon-bar {
	    background-color: #333;
	}
	.navbar-toggle {
		&:focus, &:hover {
		    background-color: #f9f9f9;
		    border-color: #f9f9f9;
		}
	}
}
.navbar-custom.navbar-fixed-top {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-bottom: 0;
}
.navbar-on-top {
	color: #fff;
	box-shadow: none;
	background-color: rgba(0,0,0,0.1);
	.navbar-nav >li >a {
	    color: #E5FFD8;
	}
	@media (max-width: 768px) {
		.dropdown-menu>li>a {
			color: rgba(255,255,255,0.8);
		    background-color: transparent;
			&:active, &:hover, &:focus {
			    color: #fff;
			}
			&:hover {
		    	background-color: rgba(0,0,0,0.1);
			}
			&:active, &:focus {
		    	background-color: rgba(0,0,0,0.2);
			}
		}
	}
	.nav>li>a, .nav .open>a {
		color: rgba(255,255,255,0.8);
	    background-color: transparent;
		&:active, &:hover, &:focus {
		    color: #fff;
		}
		&:hover {
		    	background-color: rgba(0,0,0,0.1);
		}
		&:active, &:focus {
		    	background-color: rgba(0,0,0,0.2);
		}
	}
	.navbar-brand {
		color: #fff;
	}
	.icon-bar {
	    background-color: #fff;
	}
	.navbar-toggle {
		&:focus, &:hover {
		    background-color: rgba(138,197,107,0.3);
		    border-color: #4e7b37;
		}
	}
}
.home-jumbotron {
    color: #fff;
	background-color: #282e28;
	background-image: url("/static/images/pattern.png");
	padding-top: 128px;
	margin-bottom: 0;
    .logo {
	    width: 182px;
	    height: 182px;
	    margin: 10px auto;
	    background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-image: url('/static/images/lcui-logo-lg.png');
        font-weight: normal;
    }
    h1, h2 {
    	color: #fff;
    	text-shadow: 4px 3px 0px #2b3b2b, 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
	.jumbotron-button-group {
		margin-top: 60px;
	}
}
.subtron {
	overflow: hidden;
    background-color: #f6f8f8;
    padding: 20px 0;
    text-align: center;
}
.lcui-milestone {
	display: flex;
	align-items: center;
	justify-content: center;
	.lcui-milestore-progress {
		position: relative;
		display: inline-flex;
		flex-basis: 48px;
		background: #fff;
    	border-radius: 50%;

		.percent {
			top: 0;
			left: 0;
			width: 100%;
			font-size: smaller;
			text-align: center;
			position: absolute;
			line-height: 48px;
		}
	}
    .lcui-milestone-main {
	    text-align: left;
	    padding: 0 20px;
	    p {
	    	margin: 0;
	    }
	    .link {
	    	font-size: 18px;
	    }
    }
    .btn {
	    border-radius: 4px;
    }
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
	border-radius: 2px;
    border-color: #fff;
	&:focus, &:hover {
		color: #333;
	    text-shadow: none;
	    background-color: #fff;
	    border-color: #fff;
    }
}
.shameless-self-promotion {
    margin-top: 22px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    a {
        color: #fff;
		opacity: 0.8;
    }
}

.project-features {
	&.section {
		padding-bottom: 20px;
	}
	.project-feature {
		text-align: center;
		margin-bottom: 20px;
		> .project-feature-icon {
			color: $BrandColor;
		    height: 48px;
			display: block;
		    font-size: 40px;
		    line-height: 48px;
	        margin-top: 20px;
		}
		h3 .project-feature-icon {
			display: none;
			color: $BrandColor;
		}
	}
}
.flex-items-center {
	-webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.project-overview {
	font-size: 15px;
	line-height: 1.8;
	p {
	    margin: 0 0 1em 0;
	}
}
.proejct-overview-box {
	margin-bottom: 50px;
}
.loved-by {
	padding: 0 64px;
	text-align: center;

	.fa.fa-heart {
	    color: #e25950;
	    display: block;
	    font-size: 34px;
	    padding-bottom: 24px;
        text-shadow: 0px 2px 6px rgba(0,0,0,0.2);
	}
	h3 {
		margin-top: 125px;
    	margin-bottom: 67px;
	}
	.quote {
		margin: 0 auto;
    	max-width: 800px;
    	line-height: 2.2;
    	position: relative;

    	.fa-quote-left {
    		top: 0;
		    left: -40px;
    	}
    	.fa-quote-right {
    		bottom: 0;
    		right: -40px;
    	}
    	.fa-quote-left, .fa-quote-right {
			display: none;
		    color: #d8d8d8;
		    font-size: 34px;
		    position: absolute;
    	}
    	&.active {
    		.fa-quote-left, .fa-quote-right {
				display: inline;
			}
    	}
	}
	.quotees {
	    list-style: none;
	    padding: 44px 0 34px 0;
	    margin: 0;

    	li {
		    margin: 15px 54px 15px 0;
		    display: inline-block;

		    &.unknown {
			    padding: 20px 25px;
			    border-radius: 4px;
			    border: 4px dotted #eee;

			    .fa {
			        color: #ddd;
				    font-size: 34px;
				    vertical-align: middle;
			    }
			    &:hover {
			    	border-color: #ccc;
			    }
		    }
		    &:last-child {
		    	margin-right: 0;
		    }
    	}
    	.avatar-box {
			position: relative;
			display: inline-block;

			.logo {
			    top: -12px;
    			right: -14px;
				position: absolute;

				img {
					width: 34px;
					height: 34px;
				}
			}
    		.avatar {
			    width: 64px;
			    height: 64px;
			    border-radius: 50%;
			    border: 1px solid #eee;
    		}
    	}
    	.content {
    		margin-left: 24px;
		    text-align: left;
		    display: inline-block;
		    vertical-align: middle;

		    strong {
		    	display: block;
				font-size: 16px;
		    }
    	}
	}
}
.project-contribute {
	background-color: #f6f8f8;

	.card-container {
    	display: flex;
	    flex-wrap: wrap;
    	padding: 0 5px;
	}
	a.card {
		margin: 15px;
		padding: 40px 40px 40px 120px;
		background-color: #fff;
		border-radius: 4px;
    	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
	    transition-property: color,background-color,box-shadow,transform,-webkit-transform;
	    transition-duration: .15s;
        position: relative;
	    flex-direction: column;
	    justify-content: center;
	    overflow: hidden;
        display: inline-flex;
        flex: 1;
		text-decoration: none;
		h3 {
			margin-top: 0;
		}
        .icon {
		    top: 50%;
		    left: -20px;
            display: block;
		    font-size: 96px;
		    margin-top: -48px;
		    position: absolute;
		    .count {
			    bottom: 10px;
			    right: -15px;
			    position: absolute;
			    font-size: 18px;
			    padding: 2px 4px;
			    border: 2px solid;
			    border-radius: 8px;
			    background: #fff;
			    opacity: 0;
			    font-family: "Helvetica Neue",Helvetica,Verdana,'Microsoft YaHei','微软雅黑',sans-serif;
	    		transition: opacity .5s;
		    }
        }
        p {
        	margin: 5px 0 0;
    	    font-weight: 400;
		    color: #888;
        }
        &:after {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0;
			position: absolute;
			background: #aab7c4;
			pointer-events: none;
			-webkit-transition: opacity .15s;
			transition: opacity .15s
        }
	}
	a.card-star {
		.icon, h3 {
			color: #3297d3;
		}
	}
	a.card-watch {
		.icon, h3 {
			color: #24b47e;
		}
	}
	a.card-donate {
		.icon, h3 {
			color: #e25950;
		}
	}
	a.card-bug {
		.icon, h3 {
			color: #e39f48;
		}
	}
	a.card-document {
		.icon, h3 {
			color: #b76ac4;
		}
	}
	a.card-code {
		.icon, h3 {
			color: #6772e5;
		}
	}
	a.card:hover {
		.icon, h3 {
			color: #325d32;
		}
	    transform: translateY(-2px);
	    box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
	}
	a.card:active {
		transform: translateY(2px);
		box-shadow: 0 11px 20px rgba(50,50,93,.1),0 6px 11px rgba(0,0,0,.08);

		&:after {
			opacity: .15;
		}
	}
}
.project-faq-list {
	.project-faq {
		.icon-question {
		    color: $BrandColor;
		    border: 2px solid $BrandColor;
		    border-radius: 50%;
		    width: 28px;
		    height: 28px;
		    display: inline-block;
		    text-align: center;
			&:after {
				content: '?';
			}
		}
	}
}
.section {
    padding: 40px 0;
	border-top: 1px solid #eee;
}
.thumbnail-empty {
	text-align: center;
	padding: 40px 0;
}
.has-fixed-top-navbar {
    padding-top: 80px;
}
#footer {
    padding: 12px 0;
	border-top: 1px solid #ddd;
	margin-top: 40px;
    line-height: 16px;
    font-size: 12px;
	background-color: #fafafa;
}
.fixed-bottom {
	left: 0;
	bottom: 0;
	width: 100%;
	position: fixed;
}

@media screen and (max-width: 992px) {

.project-contribute {
	.card-container {
		display: block;
		.card {
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

}

@media screen and (max-width: 768px) {

.lcui-milestone .lcui-milestore-progress {
	display: none;
}
.project-features {
	.project-feature {
		text-align: left;
		.project-feature-icon {
			display: none;
		}
		h3 .project-feature-icon {
			display: inline;
		}
	}
}
.loved-by {
	.quotees li {
		margin-right: 0;

		&.unknown {
			display: none;
		}
	}
	h4.quote {
    	font-size: 16px;
	}
}

}

@media screen and (min-width: 768px) {

.md-flex {
	display: flex;
}

}

.section-header {
    margin: 32px 0;
    text-align: center;
}
#features .section-header {
	margin-top: 0;
}

.donate-page {
	.container {
		max-width: 800px;
	}
	.page-header {
		.icon {
			font-size: 64px;
		}
	    color: #e25950;
	}
	a.donate-button {
		background-color: white;
		background-repeat: repeat-x;
		border-radius: 4px;
		box-shadow: rgba(0, 0, 0, .4) 0 0 2px;
		color: #999;
		display: inline-block;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
	    padding: 12px 15px;
		text-shadow: none;
		text-decoration: none;
	}
	a.donate-button:hover {
	    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	    color: #777;
	}
	a.donate-button:active {
	    box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 3px;
	    background: #f5f5f5;
	}
	.donate-button-logo {
		background-size: cover;
		height: 17px;
		width: 16px;
		display: inline-block;
		margin-bottom: -3px;
		margin-right: 15px;
	}
	a.gumroad-donate-button {
		background-image: url("/static/images/gumroad-button-bar.jpg");
		.donate-button-logo {
			background-image: url("/static/images/gumroad-button-logo.png");
		}
	}
	a.patreon-donate-button {
		padding-top: 10px;
	    border-top: 2px solid #e6461a;
		.donate-button-logo {
			background-image: url("/static/images/patreon-button-logo.png");
		}
	}
	a.paypal-donate-button {
		padding-top: 10px;
	    border-top: 2px solid #199ddb;
	    &:hover, &:active {
	    	border-top-color: #042467;
		}
	}
}

.pricing-panel {
  border: 1px solid #eee;
  border-top: 4px solid #eee;

  ul {
    line-height: 1.8;
    margin-bottom: 0;
  }
  li > .fa-check {
    color: #28a745;
  }
  .panel-heading {
    padding: 20px 24px 0 24px;
  }
  .panel-title {
    font-weight: bold;
  }
  .panel-body {
    padding: 24px;
  }
  .price {
    font-size: 32px;
  }
  .btn-outline {
    color: #333;
    border: 1px solid #eee;
  }
}
@mixin pricing-panel($color) {
  border-top-color: $color;

  &:hover, &.active, .btn-outline {
    border-color: $color;
  }
  .btn-outline, .price {
    color: $color;
  }
  .btn-outline {
    min-width: 128px;

    &:hover {
      background: rgba($color, .1);
    }
    &:active, &:active:hover {
      background: $color;
      color: #fff;
    }
  }
}
.pricing-panel-free {
  @include pricing-panel(#5BCF9C);
}
.pricing-panel-basic {
  @include pricing-panel(#A5C1CE);
}
.pricing-panel-standard {
  @include pricing-panel(#26A2E1);
}
.pricing-panel-advance {
  @include pricing-panel(#8a1ae7);
}

@import "horiz-split-box";
@import "syntax";

#lcui-example {
	width: 100%;
	height: initial;
	margin-bottom: 25px;
	box-sizing: content-box;

	.content {
		width: 100%;
		height: initial;
    	overflow-y: hidden;
	}
	.cover {
		background: #fff;
		.content {
			min-width: 500px;
			padding-bottom: 10px;
		}
	}
	button, input {
		border-radius: 0;
    	box-shadow: none;
	}
	input {
		width: 200px;
	}
	input:focus {
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
    #text-hello {
      color: #8cc63f;
      margin: 25px;
      padding: 25px;
      border: 1px solid #000;
      background-color: #fafafa;
    }
    #input-hello, #btn-hello {
		margin: 0 0 0 25px;
		display: inline-block;
		vertical-align: top;
    }
	pre {
    	border: 0;
    	margin: 0;
	    background: #fff;
	    min-width: 500px;
	}
	.toggle-handle-button .fa {
	    padding: 13px;
	    text-align: center;
	    color: #6ba84b;
	    transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	}
	span.line {
		display: block;
	    padding: 12px 0 12px 55px;
	    position: relative;
		&:before {
		    counter-increment: line;
		    content: counter(line);
		    display: block;
		    color: #79a5f1;
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    width: 40px;
		    text-align: right;
		    padding-top: 12px;
		    padding-right: 8px;
		}
	}
}
