
$BrandColor:#7cb75e;

.navbar-custom {
	background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border .3s ease-in-out;

	.nav>li>a, .nav .open>a {
	    color: #333;
		&:active, &:hover, &:focus {
		    color: #6ba84b;
	        background-color: #fafafa;
		}
	}
	.navbar-brand {
		color: #6ba84b;
		font-size: 24px;
		font-weight: bold;
	}
	.icon-bar {
	    background-color: #333;
	}
	.navbar-toggle {
		&:focus, &:hover {
		    background-color: #f9f9f9;
		    border-color: #f9f9f9;
		}
	}
}
.navbar-on-top {
	color: #fff;
	box-shadow: none;
	background-color: rgba(124, 183, 94, 0.5);
	.navbar-nav >li >a {
	    color: #E5FFD8;
	}
	@media (max-width: 768px) {
		.dropdown-menu>li>a {
			color: #E5FFD8;
		    background-color: transparent;
			&:active, &:hover, &:focus {
			    color: #fff;
			}
			&:hover {
		    	background-color: #8AC56B;
			}
			&:active, &:focus {
		    	background-color: #6ba84b;
			}
		}
	}
	.nav>li>a, .nav .open>a {
		color: #E5FFD8;
	    background-color: transparent;
		&:active, &:hover, &:focus {
		    color: #fff;
		}
		&:hover {
	    	background-color: #8AC56B;
		}
		&:active, &:focus {
	    	background-color: #6ba84b;
		}
	}
	.navbar-brand {
		color: #fff;
	}
	.icon-bar {
	    background-color: #E5FFD8;
	}
	.navbar-toggle {
		&:focus, &:hover {
		    background-color: #8AC56B;
		    border-color: #8AC56B;
		}
	}
}
.home-jumbotron {
    color: #E5FFD8;
	background-color: $BrandColor;
	background-image: url("/static/images/pattern.png");
	padding-top: 128px;
    .logo {
	    background-image: url('/static/images/lcui-logo-lg.png');
	    width: 182px;
	    height: 182px;
	    margin: 34px auto;
	    background-size: auto 100%;
	    box-shadow: 0 0 24px rgba(0,0,0,0.4);
	    background-repeat: no-repeat;
        font-weight: normal;
    }
    h1, h2 {
    	color: #fff;
    	text-shadow: 4px 3px 0px $BrandColor, 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #E5FFD8;
	&:focus, &:hover {
		color: $BrandColor;
	    text-shadow: none;
	    background-color: #fff;
	    border-color: #fff;
    }
}
.shameless-self-promotion {
    margin-top: 22px;
    font-size: 14px;
    color: #C1E8AD;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    a {
        color: #E5FFD8;
    }
}
.project-feature {
	.project-feature-icon {
		color: $BrandColor;
	}
}
.project-faq {
	.icon-question{
	    color: $BrandColor;
	    border: 2px solid $BrandColor;
	    border-radius: 50%;
	    width: 28px;
	    height: 28px;
	    display: inline-block;
	    text-align: center;
		&:after {
			content: '?';
		}
	}
}
.thumbnail-empty {
	text-align: center;
	padding: 40px 0;
}
.has-fixed-top-navbar {
    margin-top: 80px;
}
#footer {
    padding: 12px 0;
	border-top: 1px solid #ddd;
	margin-top: 40px;
    line-height: 16px;
    font-size: 12px;
	background-color: #fafafa;
}
.project-feature-nav {
	.project-feature-nav-item {
		margin: 3px;
		position: relative;
	}
	.project-feature-nav-item:focus {
		outline: 0;
	}
	.project-feature-nav-item img {
		width: 100%;
		height: auto;
		border: 1px solid #eee;
	}
	.project-feature-nav-item-cover {
		background-color: rgba(255,255,255,0.85);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 1s;
	}
	.project-feature-nav-item.slick-current {
		.project-feature-nav-item-cover {
			opacity: 0;
		    transition: none;
		}
	}
}
.project-feature-group .project-feature:focus {
	outline: 0;
}

.project-feature-group .project-feature {
	padding: 32px 0 62px 0;
}
@media screen and (min-width: 768px) {

.project-feature-group .project-feature {
	padding-left: 96px;
	padding-right: 96px;
}

}

@media screen and (min-width: 992px) {

.project-feature-group .project-feature {
	padding-left: 128px;
	padding-right: 128px;
}

}

@media screen and (min-width: 1200px) {

.project-feature-group .project-feature {
	padding-left: 192px;
	padding-right: 192px;
}

}

.project-feature-group .project-feature {
	-webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
	user-select: auto;
}

.project-feature-nav .slick-prev:before,
.project-feature-nav .slick-next:before {
	;
}

.project-feature-nav {
	.slick-prev, .slick-prev:focus,
	.slick-next, .slick-next:focus {
	    height: 80px;
	    color: #000;
	    width: 30px;
	    z-index: 1;
	    background: rgba(0,0,0,0.3);
	}
	.slick-prev:before {
    	font-size: 32px;
    	content: "\f104";
    	font-family: inherit;
	}
	.slick-next:before {
    	font-size: 32px;
    	content: "\f105";
    	font-family: inherit;
	}
}
.project-feature-nav .slick-prev:hover,
.project-feature-nav .slick-next:hover {
    background: rgba(0,0,0,0.5);
}
.project-feature-nav .slick-prev {
    left: 0;
}
.project-feature-nav .slick-next {
    right: 0;
}
.section-header {
    margin: 32px 0;
    text-align: center;
}
#features .section-header {
	margin-top: 0;
}