---
layout: www_default
title: LC-Soft | LC's Software
profile:
  name: Liu
  bio: 咸鱼
  job: Web 前端工程师
  avatar_url: https://avatars1.githubusercontent.com/u/1730073?v=3&s=466
  github: https://github.com/lc-soft
  steam: http://steamcommunity.com/id/lcsoft
  email: i@lc-soft.io
skills:
- name: C
  key: c
- name: JavaScript
  key: javascript
- name: Python
  key: python
projects:
- title: LCUI
  url: https://lcui.lc-soft.io
  text: 图形界面开发库
  logo: /static/images/logo-lcui.png
- title: LCDesgin
  url: https://github.com/lc-ui/lc-design
  text: 组件库
  logo: /static/images/logo-lcui-css.png
- title: LCFinder
  url: https://lcfinder.lc-soft.io
  text: 图像标注与识别工具
  logo: /static/images/logo-lcfinder.png
- title: LCUI Router
  url: https://github.com/lc-soft/lcui-router
  text: LCUI 的路由管理器
  icon: repo
- title: LCUI CLI
  url: https://github.com/lc-ui/lcui-cli
  text: LCUI 的命令行开发工具
  icon: repo
- title: Trad
  url: https://github.com/lc-soft/trad
  text: 编程语言
  icon: repo
---

{% assign count_of_words = 0 %}
{% for post in site.posts %}
    {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign count_of_words = count_of_words | plus: single_count %}
{% endfor %}
<div id="app" class="container">
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="user-profile">
        <img class="user-profile__avatar rounded-circle mb-3" src="{{ page.profile.avatar_url }}" alt="avatar">
        <h2 class="user-profile__name">{{ page.profile.name }}</h2>
        <p class="user-profile__bio text-muted">{{ page.profile.bio }}</p>
        <p class="user-profile__job">
          <i class="icon-briefcase"></i> {{ page.profile.job }}
        </p>
        <p class="user-profile__social-links">
          <a class="email" href="mailto:{{ page.profile.email }}" data-title="Email" data-toggle="tooltip" data-placement="bottom">
            <i class="icon-envelope-o"></i>
          </a>
          <a class="github" href="{{ page.profile.github }}" data-title="GitHub" data-toggle="tooltip" data-placement="bottom">
            <i class="icon-github"></i>
          </a>
          <a class="steam" href="{{ page.profile.steam }}" data-title="Steam" data-toggle="tooltip" data-placement="bottom">
            <i class="icon-steam-square"></i>
          </a>
        </p>
      </div>
      <div class="user-stats">
        <div class="user-stats__item">
          <div class="user-stats__title">
            {% octicon star %}
            获得
            <a href="{{ site.data.awards.c.repos.url }}" title="C 编程语言项目获得的总星数" data-toggle="tooltip" target="_blank">
              {{ site.data.awards.c.stars.value }}
            </a>
            颗星
          </div>
          <div class="user-stats__text">
            全国排名第
            <a href="{{ site.data.awards.c.china.url }}" title="数据来源于 git-awards.com" target="_blank" data-toggle="tooltip">
              {{ site.data.awards.c.china.value }}
            </a>
            名，世界排名第
            <a href="{{ site.data.awards.c.worldwide.url }}" title="数据来源于 git-awards.com" target="_blank" data-toggle="tooltip">
              {{ site.data.awards.c.worldwide.value }}
            </a>
            名
          </div>
        </div>
        <div class="user-stats__item">
          <div class="user-stats__title">
            <i class="icon icon-comment-discussion"></i>
            参与
            <a href="{{ site.data.github.involves_url }}" target="_blank">
              {{ site.data.github.involves_count }}
            </a>
            次社区交流
          </div>
          <div class="user-stats__text">
            反馈
            <a href="{{ site.data.github.issues_url }}" target="_blank" title="向开源项目提交的 Issue 数" data-toggle="tooltip">{{ site.data.github.issues_count }}</a> 个问题，贡献 <a href="{{ site.data.github.pulls_url }}" target="_blank" title="向开源项目提交的 Pull Request 数" data-toggle="tooltip">
              {{ site.data.github.pulls_count }}
            </a>
            次代码
          </div>
        </div>
        <div class="user-stats__item">
          <div class="user-stats__title">
            {% octicon pencil %}
            发布
            <a href="https://blog.lc-soft.io" target="_blank">
              {{ site.posts.size }}
            </a>
            篇文章
          </div>
          <div class="user-stats__text">
              写了 {{ count_of_words }} 字，总访客数
              <span id="busuanzi_value_site_uv">0</span>
              人次
          </div>
        </div>
      </div>
      <user-followers></user-followers>
    </div>
    <div class="col-lg-8 col-12">
      <h3 class="section-title">
        {% octicon light-bulb %} 作品
      </h3>
      <div class="user-repos row">
        {% for project in page.projects %}
          <div class="user-repo-card-wrapper col-lg-4 col-md-6 col-12">
            <div class="user-repo-card">
              {% if project.logo %}
                <img alt="{{ project.title }}" src="{{ project.logo }}" class="user-repo-card__logo">
              {% else %}
                {% octicon {{ project.icon }} class: "user-repo-card__logo" %}
              {% endif %}
              <div class="user-repo-card__info">
                <h4 class="user-repo-card__header">
                  <a target="_blank" href="{{ project.url }}">{{ project.title }}</a>
                </h4>
                <small class="user-repo-card__description text-muted">{{ project.text }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <h3 class="section-title">
        {% octicon tools %} 技能
      </h3>
      <div class="user-skills">
        {% for skill in page.skills %}
          {% assign skill_data = site.data.awards[skill.key] %}
          <div class="user-skill-item is-{{ skill.key }}">
            <a class="user-skill-item__name" href="{{ skill_data.repos.url }}">
              <span class="user-skill-item__badge"></span>
              {{ skill.name }}
            </a>
            <span class="user-skill-item__stats">
              <span class="user-skill-item__stats-label">标星</span>
              <span class="user-skill-item__stats-value">{{ skill_data.stars.value }}</span>
            </span>
            <span class="user-skill-item__stats">
              <span class="user-skill-item__stats-label">代码库</span>
              <a class="user-skill-item__stats-value" href="{{ skill_data.repos.url }}">
                {{ skill_data.repos.value }}
              </a>
            </span>
            <span class="user-skill-item__stats">
              <span class="user-skill-item__stats-label">排名</span>
              <a class="user-skill-item__stats-value" href="{{ skill_data.china.url }}">
                {{ skill_data.china.value }}
              </a>
            </span>
          </div>
        {% endfor %}
      </div>
      <div class="user-activity">
        <h3 class="section-title">
          {% octicon pulse %} 近期动态
        </h3>
        <user-events>加载中...</user-events>
      </div>
    </div>
  </div>
</div>
<script defer src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.slim.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
<script defer src="/static/js/main.js"></script>
