---
layout: www_default
title: LC-Soft | LC's Software
is_home: true
---
<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="col-xs-12 text-center">
      <h1>欢迎</h1>
      <p>这是超哥的个人网站，在这里你可以看到他的动态和作品。</p>
    </div>
  </div>
</div>
<section id="home-showcase">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="showcase clearfix">
        <h3 class="showcase-title">
          <span class="icon octicon octicon-pulse"></span>动态
        </h3>
        <div id="user-events"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="showcase clearfix">
        <h3 class="showcase-title">
          <span class="icon octicon octicon-light-bulb"></span>作品
        </h3>
        <div class="info-card info-card-lcui">
          <div class="logo"></div>
          <div class="content">
            <div class="name">
              <a href="https://lcui.lc-soft.io" target="_blank">LCUI</a>
            </div>
            <p class="description">简单的跨平台图形界面引擎</p>
          </div>
        </div>
        <div class="info-card info-card-pk">
          <div class="logo"></div>
          <div class="content">
            <div class="name">
              <a href="https://github.com/LC-Team/PunchAndKick" target="_blank">Punck &amp; Kick</a>
            </div>
            <p class="description">仿《热血格斗》的2D横版格斗游戏</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="showcase clearfix">
        <h3 class="showcase-title">
          <span class="icon octicon octicon-book"></span>博客
        </h3>
  {% if site.posts %}
    {% for post in site.posts | slice: 0, 8 %}
      {% assign post_url = post.url | remove: '/blog/' %}
        <p class="text-ellipsis">
          <span class="text-muted">{{ post.date | date: "%F" }}</span>
          <a href="https://blog.lc-soft.io/{{ post_url }}">{{ post.title }}</a>
        </p>
    {% endfor %}
  {% else %}
        <p class="text-muted text-center">暂无</p>
  {% endif %}
      </div>
    </div>
  </div>
</div>
</section>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment.locale.zh-cn.js"></script>
<script src="/static/js/jquery.userevents.js"></script>
<script type="text/javascript">
;(function () {

var $myEvents = $('#user-events');
moment.locale('zh-cn');
$myEvents.userevents({username: 'lc-soft'});
})();
</script>
