---
layout: blog_default
title: Blog | LC's Software
---

<div class="posts">
  <div class="container">
  {% for post in site.posts %}
    {% assign images_count = 0 %}
    {% assign images = post.content | split: "<img " %}
    {% assign post_url = post.url | remove: '/blog' %}
    <div class="article-card">
      <h3 class="article-card-title">
        <a href="{{ post_url }}">{{ post.title }}</a>
      </h3>
      <div class="article-card-info">
        <p class="text-muted">更新于<span class="date">{{ post.last_modified_at | date: '%Y年%m月%d日' }}</p>
      </div>
      <div class="article-card-body">
        <div class="excerpt">{{ post.excerpt }}</div>
        <div class="images">
        {% for image in images %}
          {% if image contains 'src="' %}
            {% if images_count < 4 %}
              {% assign image_url = image | split: 'src="' | last | split: '"' | first  %}
              {% assign images_count = images_count | plus: 1 %}
              <div class="image-wrapper">
                <a class="image" style="background-image: url({{ image_url }})" href="{{ image_url }}" target="_blank"></a>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
        <a href="{{ post_url }}">阅读全文 <span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
