@import "variables";
@import "navbar";
@import "animation";
@import "user-profile";
@import "user-stats";
@import "user-events";
@import "user-followers";
@import "user-repos";

body {
  background: #fff;
}

#footer {
  padding: 12px 0;
  border-top: 1px solid #eee;
  line-height: 16px;
  font-size: 12px;
}

.user-activity {
  margin-bottom: 20px;
}

.section-title {
  font-size: 16px;
  margin: 0 0 12px 0;

  .octicon {
    top: 2px;
    position: relative;
  }
}
