@use "sass:math";

@import "syntax";
@import "bootstrap";
@import "markdown";

.blog-nav {
  margin: 0 0 1rem 0;
}

.blog-archive {
  h1 {
    font-size: 1.75rem;
  }
  .container {
    max-width: 760px;
  }
}

.blog-categories {
  .nav-link {
    color: $text-muted;

    &.active {
      color: $link-color;
    }
    &:hover {
      color: $link-hover-color;
    }
  }
}

.blog-nav-link {
  color: $gray-600;
  margin-right: 1.5rem;

  &.active {
    color: $dark;
  }
}

.blog-post {
  position: relative;
  padding: map-get($spacers, 4);
  margin: 0 -#{map-get($spacers, 4)};
  transition: background-color .3s ease;

  &::after {
    content: "";
    position: absolute;
    left: map-get($spacers, 4);
    right: map-get($spacers, 4);
    bottom: 0;
    border-bottom: 1px solid #f0f1f3;
  }

  &:last-child::after {
    display: none;
  }

  &:hover {
    background-color: $light;
  }
}

.blog-post-categories {
  .octicon {
    fill: $primary;
  }
}

.blog-post-category {
  &::after {
    content: "\B7";
    padding: 0 0.5em;
  }

  &:last-child::after {
    display: none;
  }
}

.blog-post-title {
  font-size: 1.5rem;
}

.blog-post-excerpt {
  h1, h2, h3, h4, img {
    display: none;
  }
}

.blog-post-images {
  display: flex;
  margin-bottom: 10px;

  &:empty {
    display: none;
  }
}

.blog-post-image-wrapper {
  padding: 2px;
  width: 100%;
  display: inline-block;
}

.blog-post-image {
  width: 100%;
  height: 128px;
  border: 1px solid #eee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fbfbfb;
  display: block;

  &:hover {
    border-color: #ccc;
  }
}

.blog-post.markdown {
  img {
    @extend .img-thumbnail;
  }
  pre {
    padding: 1rem;
    background: $gray-100;
  }
}

@include media-breakpoint-down(xs) {
  $spacing: math.div($grid-gutter-width, 2);

  .blog-post-image-wrapper:nth-child(4) {
    display: none;
  }
}

.blog-post-toc {
  .section-nav {
    max-height: 70vh;
    overflow-y: auto;
    ul {
      padding-left: 1.5rem;
    }
  }
}

.blog-post-issue {
  padding: map-get($spacers, 1) 0;

  h4 {
    font-size: 1.25rem;
    margin: 0;
  }
  .comments {
    white-space: nowrap;
    vertical-align: middle;
  }
  &:first-child {
    border-top-width: 1px;
  }
  .media-body {
    vertical-align: middle;
  }
}

#busuanzi_container_page_pv {
  display: none;
}
