---
layout: blog_default
---
<div class="container">
  <h1>{{ page.title }}</h1>
  <p class="text-muted">
    <span class="date">
      {{ page.date | date: "%Y年%m月%d日" }}
    </span>
    &nbsp;·&nbsp;
    <span class="words">
      {{ content | strip_html | strip_newlines | remove: " " | size }} 字
    </span>
    <span id="busuanzi_container_page_pv">
      &nbsp;·&nbsp;
      <span id="busuanzi_value_page_pv"></span> 阅读
    </span>
  </p>
  <div class="row">
    <div class="col-md-9">
      <article class="blog-post-main">
        {{ content }}
      </article>
      {% include comment.html %}
    </div>
    <div class="col-md-3">
      <div class="sticky-top pt-2 pb-2">
        <div class="blog-post-toc bg-light p-4">
          <p><strong>目录</strong></p>
          {% toc %}
          <hr />
          <a href="#issues" class="href">问题反馈</a>
        </div>
      </div>
    </div>
  </div>
</div>
