<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Language" content="zh-CN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
{% if page.title %}
{{ page.title }}
{% else %}
博客
{% endif %} | LC's Software</title>
<link rel="shortcut icon" href="/favicon.png" type="image/png">
<meta name="keywords" content="blog,lc-soft,liuchao,lc,刘超,开发日志">
<meta name="description" content="这是超哥的博客，记录着一些开发动态和想法。">
<meta name="robots" content="all">
<meta name="author" content="Liu Chao">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
{% include blog_navbar.html %}
<div class="main">
{{ content }}
</div>
<script defer src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.slim.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
{% include www_footer.html %}
</body>
</html>
