.user-repos {
  padding: 0 10px;
  margin-bottom: map-get($spacers, 4);
}

.user-repo-card-wrapper {
  padding: map-get($spacers, 2);
}

.user-repo-card {
  padding: map-get($spacers, 3);
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

.user-repo-card__logo {
  fill: #999;
  width: 40px;
  height: 40px;
  float: left;
  margin: map-get($spacers, 1) map-get($spacers, 3) map-get($spacers, 1) 0;
}

.user-repo-card__header {
  font-size: $font-size-base;
  font-weight: bold;
}
