@import "variables";
@import "navbar";
@import "animation";
@import "user-profile";
@import "user-stats";
@import "user-events";
@import "user-followers";
@import "user-repos";

body {
  background: #fff;
}

.user-activity {
  margin-bottom: 20px;
}

.section-title {
  font-size: 16px;
  margin: 0 0 12px 0;
}
